ES_ShipmentManagement_SH/Service Descriptors/ShipmentManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.EniqueSolution.com/abstarct/V1/ShipmentManagement/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShipmentManagement" targetNamespace="http://www.EniqueSolution.com/abstarct/V1/ShipmentManagement/" xmlns:xsd1="http://www.example.org/ShipmentManagement" xmlns:xsd2="http://www.eniquesolution.com/E-Commerce/Common">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.example.org/ShipmentManagement"
    		schemaLocation="../Schemas/ShipmentManagement.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.eniquesolution.com/E-Commerce/Common"
    		schemaLocation="../../ES_Common_Model/Schemas/Common.xsd">
    	</xsd:import></xsd:schema><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.EniqueSolution.com/abstarct/V1/ShipmentManagement/">
	</xsd:schema></wsdl:types>
  <wsdl:message name="UpdateShipmentRequest">
    <wsdl:part element="xsd1:updateShipmentReq" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateShipmentResponse">
    <wsdl:part element="xsd1:updateShipmentRes" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateShipmentFault">
  	<wsdl:part name="parameters" element="xsd2:Fault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="TrackShipmentRequest">
  	<wsdl:part name="parameters" element="xsd1:TrackShipReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="TrackShipmentResponse">
  	<wsdl:part name="parameters" element="xsd1:TrackShipRes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="TrackShipmentFault">
  	<wsdl:part name="fault" element="xsd2:Fault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ShipmentManagement">
    <wsdl:operation name="UpdateShipment">
      <wsdl:input message="tns:UpdateShipmentRequest"/>
      <wsdl:output message="tns:UpdateShipmentResponse"/>
            <wsdl:fault name="fault" message="tns:UpdateShipmentFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="TrackShipment">
    	<wsdl:input message="tns:TrackShipmentRequest"></wsdl:input>
    	<wsdl:output message="tns:TrackShipmentResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:TrackShipmentFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShipmentManagementSOAP" type="tns:ShipmentManagement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="UpdateShipment">
      <soap:operation soapAction="http://www.EniqueSolution.com/abstarct/V1/ShipmentManagement/UpdateShipment"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShipmentManagement">
    <wsdl:port binding="tns:ShipmentManagementSOAP" name="ShipmentManagementSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
