ES_TS_ProductManagement/Service Descriptors/TS_ProductManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.EniqueSolution.com/abstarct/TS_ProductManagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TS_ProductManagement" targetNamespace="http://www.EniqueSolution.com/abstarct/TS_ProductManagement" xmlns:xsd1="http://www.eniquesolution.com/E-Commerce/ProductManagement">
  <wsdl:types>
    
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.eniquesolution.com/E-Commerce/ProductManagement"
    		schemaLocation="../../ES_BS_ProductManagement_SH/Schemas/ProductManagement.xsd">
    	</xsd:import></xsd:schema>
    	</wsdl:types>
  <wsdl:message name="GetAllProductsRequest">
    <wsdl:part element="xsd1:GetAllProductsReq" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductsResponse">
    <wsdl:part element="xsd1:GetAllProductRes" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetIndividualProductRequest">
  	<wsdl:part name="parameters" element="xsd1:GetIndividualProductReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetIndividualProductResponse">
  	<wsdl:part name="parameters" element="xsd1:GetIndividualProductRes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetProductByCategoryRequest">
  	<wsdl:part name="parameters" element="xsd1:GetProductsByCategoryReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetProductByCategoryResponse">
  	<wsdl:part name="parameters" element="xsd1:GetProductsByCategoryRes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddProductsRequest">
  	<wsdl:part name="parameters" element="xsd1:ProductsReqType"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddProductsResponse">
  	<wsdl:part name="parameters" element="xsd1:AddProductsRes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductsRequest">
  	<wsdl:part name="parameters" element="xsd1:ProductsReqType"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductsResponse">
  	<wsdl:part name="parameters" element="xsd1:updateProductsRes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteProductsRequest">
  	<wsdl:part name="parameters" element="xsd1:DeleteProductsReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteProductsResponse">
  	<wsdl:part name="parameters" element="xsd1:DeleteProductsRes"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TS_ProductManagement">
    <wsdl:operation name="GetAllProducts">
      <wsdl:input message="tns:GetAllProductsRequest"/>
      <wsdl:output message="tns:GetAllProductsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetIndividualProduct">
    	<wsdl:input message="tns:GetIndividualProductRequest"></wsdl:input>
    	<wsdl:output message="tns:GetIndividualProductResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
    	<wsdl:input message="tns:GetProductByCategoryRequest"></wsdl:input>
    	<wsdl:output message="tns:GetProductByCategoryResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProducts">
    	<wsdl:input message="tns:AddProductsRequest"></wsdl:input>
    	<wsdl:output message="tns:AddProductsResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProducts">
    	<wsdl:input message="tns:updateProductsRequest"></wsdl:input>
    	<wsdl:output message="tns:updateProductsResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProducts">
    	<wsdl:input message="tns:DeleteProductsRequest"></wsdl:input>
    	<wsdl:output message="tns:DeleteProductsResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TS_ProductManagementSOAP" type="tns:TS_ProductManagement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://www.EniqueSolution.com/abstarct/TS_ProductManagement/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TS_ProductManagement">
    <wsdl:port binding="tns:TS_ProductManagementSOAP" name="TS_ProductManagementSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
