ES_Common_Framework/Schemas/can12.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="merge">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="candidate">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EmailAddress">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="searchType" type="xs:string" use="required" />
                      <xs:attribute name="searchTarget" type="xs:string" use="required" />
                      <xs:attribute name="searchValue" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="FirstName" type="xs:string" />
              <xs:element name="MiddleInitial" type="xs:string" />
              <xs:element name="LastName" type="xs:string" />
              <xs:element name="MobilePhone" type="xs:string" />
              <xs:element name="ZipCode" type="xs:string" />
              <xs:element name="Birthday" type="xs:string" />
              <xs:element name="Address" type="xs:string" />
              <xs:element name="Address2" type="xs:string" />
              <xs:element name="City" type="xs:string" />
              <xs:element name="SocialSecurityNumber" type="xs:string" />
              <xs:element name="OwnerAgent">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Agent">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="EmailAddress">
                            <xs:complexType>
                              <xs:attribute name="searchType" type="xs:string" use="required" />
                              <xs:attribute name="searchTarget" type="xs:string" use="required" />
                              <xs:attribute name="ignoreEmpty" type="xs:boolean" use="required" />
                              <xs:attribute name="searchValue" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CandidateReferrer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Candidate">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="EmailAddress">
                            <xs:complexType>
                              <xs:attribute name="searchType" type="xs:string" use="required" />
                              <xs:attribute name="searchTarget" type="xs:string" use="required" />
                              <xs:attribute name="ignoreEmpty" type="xs:boolean" use="required" />
                              <xs:attribute name="searchValue" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="UDFs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="UDF">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:element name="UDSElement">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Description">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="value">
                                        <xs:complexType>
                                          <xs:attribute name="searchType" type="xs:string" use="required" />
                                          <xs:attribute name="locale" type="xs:string" use="required" />
                                          <xs:attribute name="searchTarget" type="xs:string" use="required" />
                                          <xs:attribute name="searchValue" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>